.app__histoire {
    background-color: var(--color-black);
}

.app__histoire-title {
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

.app__histoire-img {
    height: 60vh;
    border: solid 1px var(--color-white);
    border-radius: 34% 66% 39% 61% / 70% 30% 70% 30% ;
    box-shadow: var(--color-golden) 0px 24px 25px, var(--color-golden) 0px -8px 15px, var(--color-golden) 0px 4px 6px, var(--color-golden) 0px 12px 13px;
}

#title {
    font-size: 6rem;
}

.app__histoire-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10rem;
    margin-left: 30rem;
    /* Utilisez des unités relatives pour les marges */
    margin-left: 10%;
    margin-right: 10%;
}

.app__histoire-content p {
    text-align: center;
    width: 75vh;
    font-size: 2rem;
    margin-left: 20rem;
    margin-top: 3rem;
    line-height: 2;
    /* Utilisez des unités relatives pour la largeur */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 950px) {
    .app__histoire-img {
        height: 70vh;
    }
    .app__histoire-content p {
        width: 60vh;
        margin-left: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .app__histoire section__padding {
        padding: 10rem;
    }
    .app__histoire-img {
        height: 70vh;
    }
    .app__histoire-content {
        flex-direction: column;
        align-items: flex-start;
        /* Ajustez les marges pour les petits écrans */
        margin-left: 5%;
        margin-right: 5%;
    }
    .app__histoire-content p {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .app__histoire-img {
        height: 45vh;
    }
    #title {
        font-size: 2rem;
    }
    .app__histoire-content p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .app__histoire-content {
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .app__histoire-content p {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}
