 .app__event{
    background: var(--color-black);
    height: auto;
    width: 100%;
    margin-top: 2rem;
}

.app__event-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h2 {
    color: var(--color-golden);
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.2rem;
}

.app__event-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.app__event-images img {
    width: 30vh;
    border-radius: 10px;
    border: 1px solid var(--color-golden);
}

.app__event-content {
    margin-top: 4rem;
    text-align: center;
}

.app__event-content p {
    color: var(--color-golden);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2rem;
}